@import url("global.css");
.bg-photo {
  background-image: url("/images/gym-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.hero-wrapper {
  display: grid;
  align-items: center;
  justify-items: center;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0 3.5rem;
  padding: 3rem 1rem;
  position: relative; /* used for animation using gsap*/
  left: 1400px; /* used for animation using gsap*/
}
.hero-wrapper:hover {
  background-color: rgba(255, 255, 255, 1);
}
.mission-area {
  padding: 12rem 0;
}
.mission-card-wrapper {
  margin-top: 5rem;
  gap: 5rem;
}
.mission-vision-title {
  margin-bottom: 0rem;
  font-size: 2rem;
}
.mission-subheading {
  font-size: 1.8rem;
  font-weight: var(--fw-bold);
}
.mission {
  line-height: 1.8rem;
}
.mission-logo {
  width: 30%;
  height: 100%;
}
.mission-text {
  padding: 0.4rem 1rem;
  text-align: center;
}

@media screen and (min-width: 47em) and (max-width: 80em) {
  .mission-area {
    gap: 2rem;
    padding: 5rem 0;
  }
  .mission-vision-title {
    margin-bottom: 0rem;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 47em) {
  .bg-photo {
    width: 100%;
    background-position: 30% 0;
  }
  .mission-area {
    gap: 2rem;
    padding: 1rem 0;
  }
}

/* team */
.team-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.team-title {
  margin-bottom: 2.5rem;
}
.team-card-image {
  height: 18rem;
  object-fit: cover;
  object-position: top center;
  width: 100%;
}
.team-card {
  border: 2px solid var(--clr-neutral-200);
}
.box-testing {
  height: 10rem;
  background-color: var(--clr-neutral-200);
}

.team-info {
  padding: var(--size-500);
}
.team-info .name {
  font-size: 1.2rem;
  font-weight: var(--fw-bold);
  margin-bottom: 0.2rem;
}
.team-info .position {
  font-size: 1rem;
}
.custom-hr {
  width: 100%;
  height: 0.1em;
  border: none;
  background-color: var(--clr-accent-500);
}
.social-icons {
  display: flex;
  align-items: center; /* Optional: Align items vertically in the center */
  margin-top: 1rem;
}
.social-icons ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons ul li {
  margin: 0 6px;
  height: 1.6rem;
  width: 1.6rem;
  color: var(--clr-neutral-100);

  background: var(--clr-accent-500);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  transition: all ease 0.3s;
}

.social-icons ul li:hover {
  transform: scale(1.4);
  cursor: pointer;
}

.social-icons a {
  color: var(--clr-neutral-100);
}

@media screen and (min-width: 47em) and (max-width: 80em) {
  .team-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 47em) {
  .team-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 31em) {
  .team-columns {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-title {
    font-size: 2.2rem;
  }
}

.swiper {
  width: 28rem;
  height: 35rem;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.equipment-text {
  max-width: 75ch;
  margin-top: 2rem;
  line-height: 1.8rem;
}
.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}
