@import url("global.css");
.bg-photo {
  background-image: url("/images/gym-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.hero-wrapper {
  display: grid;
  align-items: center;
  justify-items: center;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0 3.5rem;
  padding: 3rem 1rem;
  position: relative; /* used for animation using gsap*/
  left: 1400px; /* used for animation using gsap*/
}
.hero-wrapper:hover {
  background-color: rgba(255, 255, 255, 1);
}
.mission-area {
  padding: 12rem 0;
}
.mission-card-wrapper {
  margin-top: 5rem;
  gap: 5rem;
}
.mission-vision-title {
  margin-bottom: 0rem;
  font-size: 2rem;
}
.mission-subheading {
  font-size: 1.8rem;
  font-weight: var(--fw-bold);
}
.mission {
  line-height: 1.8rem;
}
.mission-logo {
  width: 30%;
  height: 100%;
}
.mission-text {
  padding: 0.4rem 1rem;
  text-align: center;
}

@media screen and (min-width: 47em) and (max-width: 80em) {
  .mission-area {
    gap: 2rem;
    padding: 5rem 0;
  }
  .mission-vision-title {
    margin-bottom: 0rem;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 47em) {
  .bg-photo {
    width: 100%;
    background-position: 30% 0;
  }
  .mission-area {
    gap: 2rem;
    padding: 1rem 0;
  }
}

/* team */
.team-card-image {
  height: 18rem;
  object-fit: cover;
  object-position: top center;
  width: 100%;
}
.team-card {
  border: 3px solid var(--clr-neutral-200);
}
.box-testing {
  height: 10rem;
  background-color: var(--clr-neutral-200);
}

.team-info {
  padding: var(--size-400);
}
