@import url("global.css");

/* navbar */
.nav-bg-color {
  background-color: rgba(20, 20, 20, 0.5);
}
.nav-wrapper {
  padding-top: var(--size-300);
  padding-bottom: var(--size-300);
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: top 0.3s; /* Smooth transition effect */
}

.nav-list {
  font-size: var(--fs-nav);
}

.nav-list {
  display: flex;
  gap: clamp(var(--size-400), 5vw, var(--size-700));
  font-weight: var(--fw-bold);
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-neutral-100);
}

.logo {
  width: 100%;
  height: auto;
  margin-right: -22rem;
}

.nav-list a:hover,
.nav-list a:focus-within {
  text-decoration: none;
  color: var(--clr-accent-500);
}

.bg-photo {
  background-image: url("/images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 62.9rem;
  transition: 0.5s;
}

.hero-wrapper {
  height: 28rem;
  align-self: end;
  justify-self: end;
  margin-top: 28rem;
  position: relative; /* used for animation using gsap*/
  left: 1400px; /* used for animation using gsap*/
}

.hero-wrapper p {
  max-width: 68ch;
  line-height: 1.5rem;
  color: var(--clr-neutral-100);
  opacity: 0.8;
}

.hero-title {
  max-width: 18ch;
}

@media screen and (max-width: 47em) {
  .bg-photo {
    width: 100%;
    background-position: 30% 0;
  }
  .hero-title {
    font-size: 2.7rem;
  }
  .hero-wrapper {
    margin-top: 10rem;
  }
}
/* menu list */
.custom-grid {
  gap: 2rem;
  transition: 0.5s;
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.box-area {
  position: relative;
  left: -2000px;
}
.box-wrapper {
  background-image: url("/images/box-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* margin-top: var(--size-900);
  margin-bottom: var(--size-900); */
  padding-right: var(--size-300);
  display: grid;
  height: 90%;
  transition: 0.5s;
  border-radius: 0 2.5rem;
}

.box-item {
  text-decoration: none;
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
  font-size: 1.3rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}

.red-box-icon {
  background: rgb(255, 102, 102);
  background: linear-gradient(180deg, rgba(255, 102, 102, 1) 0%, rgba(229, 34, 34, 1) 35%, rgba(153, 1, 1, 1) 100%);
  color: var(--clr-neutral-100);
  width: 6.5rem;
  height: 6.5rem;
  padding: var(--size-300);
  font-size: 3rem;
  position: relative;
  bottom: 3rem;
  left: 2rem;
  text-align: center;
  border-radius: 0 1.5rem;
}
@media screen and (min-width: 47em) and (max-width: 80em) {
  .custom-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 5rem 0;
    align-items: center;
    justify-items: center;
    padding: -10rem;
  }
  .box-wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 47em) {
  .custom-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem 0;
    align-items: center;
    justify-items: center;
  }
  .box-wrapper {
    width: 80%;
  }
}
@media screen and (max-width: 31em) {
  .custom-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5rem 0;
    align-items: center;
    justify-items: center;
  }
  .box-wrapper {
    width: 65%;
  }
}

/* about */

.about-wrapper {
  display: grid;
  align-items: center;
  transition: 0.5s;
}
.about-image-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.about-image-wrapper img {
  width: 95%;
}

.about-image-2 {
  margin-top: var(--size-900);
}

.about-text-wrapper {
  padding-left: var(--size-700);
}

.about-text {
  max-width: 80ch;
  line-height: 1.5rem;
}
.service-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.service-item {
  display: flex;
  gap: rem;
}

.service-item-title {
  font-weight: bold;
  font-size: var(--fs-700);
  display: block;
}

.service-item-title-message {
  opacity: 0.8;
}

.service-icon {
  height: 4.5rem;
  margin-right: var(--size-400);
}
.service-item-text {
  align-self: center;
}
.about-text,
.service-grid,
.button-area {
  margin-top: 2.5rem; /* Adjust the value as needed */
}

@media screen and (min-width: 47em) and (max-width: 80em) {
  .about-text-wrapper {
    padding-left: var(--size-600);
  }
  .about-image-wrapper img {
    width: 100%;
  }
  .about-text-wrapper h3 {
    font-size: 2.5rem;
  }
  .service-grid {
    gap: 1rem;
  }
  .service-icon {
    height: 4rem;
  }
  .service-item-title {
    font-size: var(--fs-500);
  }
  .service-item-title-message {
    font-size: var(--fs-300);
  }
}

@media screen and (max-width: 47em) {
  .about-image-wrapper img {
    width: 100%;
  }
  .about-image-wrapper {
    margin-bottom: var(--size-600);
  }
  .about-image-2 {
    margin-top: 0;
  }

  .about-text-wrapper {
    padding: 0;
  }
  .about-text-wrapper h3 {
    font-size: 2.5rem;
  }
  .service-grid {
    gap: 1rem;
  }
  .service-icon {
    height: 3rem;
  }
  .service-item-title {
    font-size: var(--fs-300);
    font-weight: var(--fw-black);
  }
  .service-item-title-message {
    font-size: var(--fs-300);
  }
}
@media screen and (max-width: 31em) {
  .about-image-wrapper {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .about-image-wrapper img {
    width: 80%;
  }
  .about-image-2 {
    display: none;
  }
}
@media screen and (max-width: 18em) {
  .service-icon {
    height: 2.3rem;
  }
}

/* Workout equipment Section */

.workout-equipment-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
}
.equipment-title-bg {
  height: 20rem;
  display: grid;
  align-items: end;
  justify-items: center;
}
.equipment-title {
  background-color: rgba(153, 0, 0, 0.6);
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--clr-neutral-100);
  font-weight: var(--fw-black);
  gap: 1rem;
  padding: 1rem;
  border-radius: 0 2rem;
}

.equipment-box {
  height: 100%;
  width: 100%;
  padding: 15% 20%;
}

.boxing {
  background-image: url("/images/boxing.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 31.5rem;
}
.cardio {
  background-image: url("/images/cardio.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 31.5rem;
}

.aerobics {
  background-image: url("/images/aerobics-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 31.5rem;
}

.calisthenics {
  background-image: url("/images/calisthenics.png");
  background-size: cover;
  background-repeat: no-repeat;

  height: 31.5rem;
}
.crossfit {
  background-image: url("/images/crossfit.png");
  background-size: cover;
  background-repeat: no-repeat;

  height: 31.5rem;
}

.power-lifting {
  background-image: url("/images/powerlifting.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 31.5rem;
}

@media screen and (min-width: 47em) and (max-width: 80em) {
  .calisthenics .equipment-title {
    width: 100%;
  }
  .workout-equipment-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .workout-equipment-title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 47em) {
  .workout-equipment-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .crossfit {
    background-position: center right;
  }
  .workout-equipment-title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 31em) {
  .equipment-box {
    padding: 25% 5%;
  }
}

/* classes section */

.class-item {
  border: 3px solid var(--clr-neutral-200);
  position: relative; /* Ensure positioning context for child elements */
}

.class-content-wrapper {
  padding: 0 var(--size-500);
  position: relative; /* Ensure positioning context for absolute positioning */
}
.class-image {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}
.price {
  background-color: var(--clr-primary-400);
  width: 30%;
  padding: 0.5rem;
  text-align: center;
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
  font-size: var(--fs-500);
  border: 0.5rem solid var(--clr-neutral-100);
  position: absolute; /* Position the price text absolutely within the parent container */
  top: -4.3rem; /* Adjust the distance from the top */
  left: calc(5%); /* Center the price horizontally */
  z-index: 9999;
  border-radius: 0 1rem;
}
.class-duration {
  opacity: 0.6;
}
:where(.class-text-wrapper :not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}
.class-button {
  color: var(--clr-primary-400);
  font-size: 1rem;
  font-weight: var(--fw-bold);
  margin-bottom: var(--size-400);
}
.class-name {
  margin-top: 2.5rem;
}

@media screen and (min-width: 47em) and (max-width: 80em) {
  .class-wrapper-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
  }
  .classes-title {
    font-size: 3rem;
  }
  .class-image {
    object-position: center;
    height: 20rem;
  }
}
@media screen and (max-width: 47em) {
  .classes-title {
    font-size: 2.5rem;
  }
  .class-image {
    object-position: center;
    height: 20rem;
  }
}

/* testimonials */

.testimonial-background {
  background-image: url("/images/testimonial-v2.png");
  background-repeat: no-repeat;
  background-position: 10% 30%;
  background-size: cover;
  height: 40rem;
}
.testimonial-wrapper {
  height: 35rem;
  width: 40rem;
  padding-top: 13%;
  transition: 0.5s;
}

.testimonial-title {
  color: var(--clr-neutral-100);
  padding: 0 2rem;
}
.testimonial-text {
  line-height: 1.5rem;
  max-width: 70ch;
}

.swiper {
  cursor: pointer;
  transition: 0.5s;
}
.swiper-slide {
  padding: 2rem;
  color: var(--clr-neutral-100);
}
.testimonial-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.testimonial-image {
  width: 100px; /* Set the width of the circle */
  height: 100px; /* Set the height of the circle */
  border-radius: 50%; /* Make it a circle */
  overflow: hidden; /* Hide overflow content */
}
.swiper-pagination {
  color: var(--clr-primary-400) !important;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--clr-primary-400) !important;
}
.swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  border: 4px solid var(--clr-primary-400);
}

.testimonial-role {
  color: var(--clr-accent-500) !important;
}

@media screen and (max-width: 47em) {
  .testimonial-title {
    font-size: 2rem;
  }
  .testimonial-wrapper {
    width: 100%;
  }
}

/* blogs */

.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 3rem;
  transition: 0.5s;
}

.blog-card {
  border: 2px solid var(--clr-neutral-200);
}
.blog-card img {
  width: 100%;
  height: 18rem;
  object-fit: cover;
}
.blog-text-wrapper {
  padding: 1rem;
}
.blog-text {
  font-weight: var(--fw-black);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
.date-category-wrapper {
  display: flex;
  gap: 2rem;
  opacity: 0.5;
}
@media screen and (min-width: 37em) and (max-width: 80em) {
  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (max-width: 37em) {
  .blog-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* footer */

.footer-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/footer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 4rem;
}
.logo-area {
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 2rem;
}
.footer-grid-area {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.footer-box-icon {
  background: rgb(255, 102, 102);
  background: linear-gradient(180deg, rgba(255, 102, 102, 1) 0%, rgba(229, 34, 34, 1) 35%, rgba(153, 1, 1, 1) 100%);
  color: var(--clr-neutral-100);
  width: 100%;
  height: 100%;
  padding: var(--size-300);
  font-size: 2.5rem;
  /* position: relative;
  bottom: 3rem;
  left: 2rem; */
  text-align: center;
  border-radius: 0 1.5rem;
}

.footer-text {
  color: var(--clr-neutral-100);
  font-weight: bold;
  width: 300%;
}
@media screen and (min-width: 47em) and (max-width: 80em) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 47em) {
  .footer-grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 0 4rem 0;
  }

  .footer-grid-area {
    gap: 1rem;
  }
  .footer-text {
    width: 600%;
  }
}

@media screen and (max-width: 30em) {
  .footer-text {
    width: 300%;
  }
  .footer-box-icon {
    font-size: 2.5rem;
  }
}
